---
import { settings } from "@config/site.config.json";

import BlogCard from "@components/BlogCard.astro";
import PageHeader from "@components/PageHeader.astro";
import Pagination from "@components/Pagination.astro";
import Layout from '@layouts/Layout.astro';

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allAuthors: CollectionEntry<"author">[] = await getCollection("author");
  const allPosts: CollectionEntry<"blog">[] = (await getCollection("blog")).sort(
    (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
      b.data.date.valueOf() - a.data.date.valueOf()
  );

  const postsPerPage: number = settings?.pagination || 6;
  const totalPages: number = Math.ceil(allPosts.length / postsPerPage);

  return Array.from({ length: totalPages }, (_, i) => {
    const currentPage = i + 1;
    const currentPagesPost: CollectionEntry<"blog">[] = allPosts.slice(
      (currentPage - 1) * postsPerPage, currentPage * postsPerPage
    );

    return {
      params: { id: String(currentPage) }, // id is used in the URL
      props: { currentPagesPost, allAuthors, totalPages, currentPage },
    };
  });
}

const { currentPagesPost, allAuthors, totalPages, currentPage } = Astro.props;
---

<Layout title={`Page ${currentPage} of ${totalPages} - Blog Posts`}>

  <PageHeader title="All posts" />

  <!-- START :: All posts -->
  <section>
    <div class="container">
      <div class="row gy-6 gx-4">
        {currentPagesPost.map((post) => (
          <div class="lg:col-6">
            <BlogCard post={post} allAuthors={allAuthors} />
          </div>
        ))}

        <div class="col-12">
          <Pagination totalPages={totalPages} currentPage={currentPage} section="blog" />
        </div>
      </div>
    </div>
  </section>
  <!-- END :: All posts -->
</Layout>