---
import { settings } from "@config/site.config.json";

import BlogCardTwo from "@components/PortfolioCardTwo.astro";
import Layout from '@layouts/Layout.astro';
import BannerTwo from "@components/BannerTwo.astro";

import type { CollectionEntry } from "astro:content";
import { getCollection, getEntry } from "astro:content";

const allAuthors: CollectionEntry<"author">[] = await getCollection("author");
const allPosts: CollectionEntry<"portfolio">[] = (await getCollection("portfolio"))
  .sort(
    (a: CollectionEntry<"portfolio">, b: CollectionEntry<"portfolio">) =>
      b.data.date.valueOf() - a.data.date.valueOf()
  );

const featuredPosts = allPosts.filter((post) => post.data.featured).slice(0, 3);
const filteredPosts = allPosts.filter((post) => !post.data.featured).
  slice(0, settings?.homepage_post_count || 6);

const homePage = await getEntry("pages", "-index-3");
const { title, metadata, featured_posts, recent_posts, social_links } : any = homePage?.data;

---

<Layout
  title={title}
  meta_title={metadata.title}
  description={metadata.description} 
  image={metadata.image} 
  author={metadata.author} 
  keywords={metadata.keywords} 
  noindex={metadata.noindex} 
  canonical={metadata.canonical}
>
  {featured_posts?.enable && (
    <section class="pt-8 pb-12 sm:py-16 mb-4 md:mb-6">
      <div class="container">
        <div class="mb-8">
          <p class="uppercase font-medium text-black dark:text-white flex-shrink-0">
            {featured_posts.title}
          </p>
        </div>
    
        <div class="row gy-6 gx-4">
          {featuredPosts.slice(0, 1).map((post) => (
            <div class="lg:col-6">
              <BlogCardTwo
                post={post}
                allAuthors={allAuthors}
                loading="lazy"
              />
            </div>
          ))}
          {featuredPosts.slice(1).map((post) => (
            <div class="md:col-6 lg:col-3">
              <BlogCardTwo
                post={post}
                allAuthors={allAuthors}
                loading="lazy"
                variant="xs"
              />
            </div>
          ))}
        </div>
      </div>
    </section>
  )}

  {recent_posts?.enable && (
    <section class="section-sm pb-0 bg-section after:top-0">
      <div class="container">
        <h2 class="section-title text-center">
          <span>{recent_posts.title}</span>
        </h2>
        <div class="row gy-6 gx-4">
          
          {filteredPosts.map((post, index) => (
            <div class="md:col-6 xl:col-4">
              <BlogCardTwo
                post={post}
                allAuthors={allAuthors}
                loading={(index === 0 || index === 1 || index === 2) ? "eager" : "lazy"}
                variant="sm"
              />
            </div>
          ))}

          <div class="col-12 text-center">
            <a class="btn btn-primary mt-8 capitalize" href="/portfolio" aria-label="View all works">
              <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 12h6"></path><path d="M12 9v6"></path><path d="M4 6V5a1 1 0 011-1h1m5 0h2m5 0h1a1 1 0 011 1v1m0 5v2m0 5v1a1 1 0 01-1 1h-1m-5 0h-2m-5 0H5a1 1 0 01-1-1v-1m0-5v-2m0-5"></path></svg>
              {recent_posts.button_label}
            </a>
          </div>
        </div>
      </div>
    </section>
  )}
</Layout>